In [1]:
import pg8000          #pg8000 access SQL databases
import pandas as pd    #pandas will be needed to work in a dataframe
import os

In [2]:
#code from Agata
#these are nice functions to open LIMS, make a query and then close LIMS after

def _connect(user="limsreader", host="limsdb2", database="lims2", password="limsro", port=5432):
    conn = pg8000.connect(user=user, host=host, database=database, password=password, port=port)
    return conn, conn.cursor()

def _select(cursor, query):
    cursor.execute(query)
    columns = [ d[0] for d in cursor.description ]
    return [ dict(zip(columns, c)) for c in cursor.fetchall() ]

def limsquery(query, user="limsreader", host="limsdb2", database="lims2", password="limsro", port=5432):
    """A function that takes a string containing a SQL query, connects to the LIMS database and outputs the result."""
    conn, cursor = _connect(user, host, database, password, port)
    try:
        results = _select(cursor, query)
    finally:
        
        #THESE ARE IMPORTANT!!!!!!
        #Every query needs to be closed when done
        cursor.close()             
        conn.close()
    return results


#this last function will take our query results and put them in a dataframe so that they are easy to work with
def get_lims_dataframe(query):
    '''Return a dataframe with lims query'''
    result = limsquery(query)
    try:
        data_df = pd.DataFrame(data=result, columns=result[0].keys())
    except IndexError:
        print "Could not find results for your query."
        data_df = pd.DataFrame()
    return data_df

## Find how many cells took longer to find instanteous threshold than they did to find rheobase (ie more SSFINEST than LSFINEST sweeps).

In [3]:
query = "SELECT cell.name AS cell_name, \
COUNT(CASE WHEN ephys_stimuli.description LIKE '%%C1LSFINEST150112%%' THEN 1 ELSE NULL END) AS longsquare, \
COUNT(CASE WHEN ephys_stimuli.description LIKE '%%C1SSFINEST150112%%' THEN 1 ELSE NULL END) AS shortsquare \
FROM specimens cell JOIN ephys_sweeps ess ON cell.id = ess.specimen_id \
JOIN ephys_stimuli ON ess.ephys_stimulus_id = ephys_stimuli.id \
WHERE cell.patched_cell_container NOTNULL \
GROUP BY cell.name"

df2 = get_lims_dataframe(query)
df2.head()

   shortsquare  longsquare                              cell_name
0            0           4  Slc32a1-IRES-Cre;Ai14-326812.04.02.05
1            3           1  Slc32a1-IRES-Cre;Ai14-305535.06.02.01
2            6           5   Chrna2-Cre_OE25;Ai14-379154.02.02.01
3            5          10                    H18.03.010.11.15.14
4            8           0      Vip-IRES-Cre;Ai14-342919.04.02.01

In [4]:
df2[df2['shortsquare'] > df2['longsquare']].count()

shortsquare    4436
longsquare     4436
cell_name      4436
dtype: int64

## Show the distribution of hemispheres all the cells patched in 2017 with the age and sex of the mice used.

In [5]:
query = "SELECT * FROM ephys_roi_results"
query2= "SELECT * FROM specimens"
query3= "SELECT * FROM donors"
query4= "SELECT * FROM rna_amplification_inputs"
query5= "SELECT * FROM rna_amplifications"
query6= "SELECT * FROM rna_amplification_sets"
query7= "SELECT * FROM specimen_tags_specimens"

df3 = limsquery(query)
df4 = limsquery(query2)
df5 = limsquery(query3)
df6 = limsquery(query4)
df7 = limsquery(query5)
df8 = limsquery(query6)
df9 = limsquery(query7)

print df3[0].keys()
print " "
print df4[0].keys()
print " "
print df5[0].keys()
print " "
print df6[0].keys()
print " "
print df7[0].keys()
print " "
print df8[0].keys()
print " "
print df9[0].keys()

['rig_name', 'ephys_qc_criteria_id', 'failed_bad_rs', 'updated_at', 'storage_directory', 'electrode_0_pa', 'input_resistance_mohm', 'id', 'stage2_reviewer_id', 'blowout_mv', 'failed_other', 'sampling_rate', 'input_access_resistance_ratio', 'failed_no_seal', 'workflow_state', 'ephys_specimen_roi_plan_id', 'initial_access_resistance_mohm', 'qc_notes', 'recording_date', 'created_at', 'seal_gohm', 'published_at', 'failed_clogged_pipette', 'stage1_reviewer_id', 'failed_electrode_0', 'notes']

['cell_depth', 'ephys_roi_result_id', 'parent_y_coord', 'reference_space_id', 'updated_at', 'cell_label', 'preparation_method_id', 'parent_x_coord', 'task_id', 'location_id', 'id', 'cortex_layer_id', 'plane_of_section_id', 'frozen_at', 'flipped_specimen_id', 'data', 'pinned_radius', 'rna_integrity_number', 'histology_well_name', 'created_by', 'priority', 'parent_id', 'ephys_start_time_sec', 'project_id', 'alignment3d_id', 'carousel_well_name', 'patched_cell_container', 'updated_by', 'cell_prep_id', 'biophysical_model_state', 'barcode', 'storage_directory', 'x_coord', 'tissue_ph', 'specimen_preparation_method_id', 'donor_id', 'starter_cell_count', 'operation_id', 'ephys_neural_tissue_plan_id', 'structure_id', 'parent_z_coord', 'facs_well_id', 'name', 'y_coord', 'normalization_group_id', 'postmortem_interval_id', 'specimen_set_id', 'created_at', 'tissue_processing_id', 'ephys_cell_plan_id', 'hemisphere_id', 'ephys_qc_result', 'specimen_metadata_id', 'cell_reporter_id', 'task_flow_id', 'external_specimen_name']

['weight', 'education_level_id', 'updated_at', 'height', 'transgenic_induction_method_id', 'id', 'death_on', 'primary_tissue_source_id', 'full_genotype', 'induction_method', 'age_id', 'created_by', 'occupation_id', 'date_of_birth', 'external_donor_name', 'race_id', 'death_manner_id', 'updated_by', 'organism_id', 'data', 'name', 'created_at', 'gender_id', 'baseline_weight_g', 'death_cause_id', 'handedness_id']

['sample_index_id', 'sample_quantity_count', 'sample_type', 'sample_quantity_pg', 'sample_id', 'id', 'rna_amplification_id']

['umi_length_nt', 'amplified_quantity_ng', 'name', 'run_date', 'percent_cdna_longer_than_400bp', 'created_at', 'updated_at', 'failed', 'ercc_diluted_pool_id', 'ercc_pool_ul', 'rna_amplification_method_id', 'cycles', 'id', 'rna_amplification_set_id']

['name', 'well_known_file_id', 'storage_directory', 'spreadsheet_uploaded_at', 'project_id', 'id']

['specimen_id', 'specimen_tag_id']

In [6]:
query = "SELECT err.recording_date, s.donor_id, s.hemisphere_id, d.age_id, d.gender_id \
FROM ephys_roi_results err \
JOIN specimens s ON s.ephys_roi_result_id = err.id \
JOIN donors d ON s.donor_id = d.id \
WHERE s.hemisphere_id = 1.0 OR s.hemisphere_id = 2.0 \
AND (err.recording_date > '2017-01-01' AND err.recording_date < '2017-12-31')"

df = get_lims_dataframe(query)
df.tail()

      gender_id   donor_id  hemisphere_id      recording_date     age_id
3171          2  643830492              2 2017-10-27 21:09:28  298414236
3172          1  656437761              1 2018-01-08 20:13:11        114
3173          1  657607092              1 2018-01-23 23:05:47  298414237
3174          1  657607092              1 2018-01-23 23:41:09  298414237
3175          1  673427470              1 2018-03-21 17:03:38  298414239

## Look for cells that do not have a qc reviewer and failed qc for project T301. What are the cell level qc failures? (access, gohm seal, blowout, input resistance)

In [7]:
query= "SELECT err.stage1_reviewer_id, err.workflow_state, err.stage2_reviewer_id, proj.code, \
err.failed_bad_rs, err.failed_electrode_0, err.failed_no_seal, err.blowout_mv, \
err.initial_access_resistance_mohm \
FROM ephys_roi_results err JOIN specimens s ON s.ephys_roi_result_id = err.id \
JOIN projects proj ON s.project_id = proj.id \
WHERE proj.code = 'T301' \
AND workflow_state = 'auto_failed'"

df = get_lims_dataframe(query)
df

,code,failed_bad_rs,workflow_state,stage2_reviewer_id,blowout_mv,stage1_reviewer_id,failed_electrode_0,initial_access_resistance_mohm,failed_no_seal
0,T301,False,auto_failed,NaN,NaN,NaN,True,NaN,None
1,T301,False,auto_failed,NaN,NaN,NaN,False,NaN,None
2,T301,False,auto_failed,NaN,NaN,NaN,True,NaN,None
3,T301,False,auto_failed,NaN,NaN,NaN,True,NaN,None
4,T301,False,auto_failed,NaN,NaN,NaN,False,NaN,None
5,T301,False,auto_failed,NaN,NaN,NaN,True,NaN,None
6,T301,False,auto_failed,NaN,NaN,NaN,True,NaN,None
7,T301,False,auto_failed,NaN,NaN,NaN,True,NaN,None
8,T301,False,auto_failed,NaN,NaN,NaN,True,NaN,None
9,T301,False,auto_failed,NaN,NaN,NaN,True,NaN,None
10,T301,False,auto_failed,NaN,NaN,NaN,True,NaN,None
11,T301,False,auto_failed,NaN,NaN,NaN,True,NaN,None
12,T301,False,auto_failed,NaN,NaN,NaN,True,NaN,None
13,T301,False,auto_failed,NaN,NaN,NaN,True,NaN,None
14,T301,False,auto_failed,NaN,NaN,NaN,True,NaN,None
15,T301,False,auto_failed,NaN,NaN,NaN,True,NaN,None
16,T301,False,auto_failed,NaN,NaN,NaN,True,NaN,None
17,T301,False,auto_failed,NaN,NaN,NaN,True,NaN,None
18,T301,False,auto_failed,NaN,NaN,NaN,True,NaN,None
19,T301,False,auto_failed,NaN,NaN,NaN,True,NaN,None
20,T301,False,auto_failed,NaN,NaN,NaN,True,NaN,None
21,T301,False,auto_failed,NaN,NaN,NaN,True,NaN,None
22,T301,False,auto_failed,NaN,NaN,NaN,True,NaN,None
23,T301,False,auto_failed,NaN,NaN,NaN,True,NaN,None
24,T301,False,auto_failed,NaN,NaN,NaN,True,NaN,None
25,T301,False,auto_failed,NaN,NaN,NaN,True,NaN,None
26,T301,False,auto_failed,NaN,NaN,NaN,True,NaN,None
27,T301,False,auto_failed,NaN,NaN,NaN,False,NaN,None
28,T301,False,auto_failed,NaN,NaN,NaN,True,NaN,None
29,T301,False,auto_failed,NaN,NaN,NaN,True,NaN,None
...,...,...,...,...,...,...,...,...,...
358,T301,False,auto_failed,NaN,NaN,NaN,False,11.047597,False
359,T301,False,auto_failed,NaN,NaN,NaN,False,11.570832,False
360,T301,False,auto_failed,NaN,NaN,NaN,False,13.700252,False
361,T301,False,auto_failed,NaN,NaN,NaN,False,10.532545,False
362,T301,False,auto_failed,NaN,NaN,NaN,False,10.456404,False
363,T301,False,auto_failed,NaN,NaN,NaN,False,15.060681,False
364,T301,False,auto_failed,NaN,NaN,NaN,False,12.087502,False
365,T301,False,auto_failed,NaN,NaN,NaN,False,12.177800,False
366,T301,False,auto_failed,NaN,NaN,NaN,False,10.932660,False
367,T301,False,auto_failed,NaN,NaN,NaN,False,12.356878,False
368,T301,False,auto_failed,NaN,NaN,NaN,False,13.566346,False
369,T301,False,auto_failed,NaN,NaN,NaN,False,17.409530,True
370,T301,False,auto_failed,NaN,-13.478935,NaN,False,18.737194,True
371,T301,False,auto_failed,NaN,-13.499063,NaN,False,11.907588,False
372,T301,False,auto_failed,NaN,21.077793,NaN,False,8.098195,False
373,T301,False,auto_failed,NaN,13.865799,NaN,False,12.036490,False
374,T301,False,auto_failed,NaN,18.521560,NaN,False,7.995075,False
375,T301,False,auto_failed,NaN,2.919401,NaN,False,12.931587,False
376,T301,False,auto_failed,NaN,19.145301,NaN,False,13.879205,False
377,T301,False,auto_failed,NaN,1.220761,NaN,False,12.039292,False
378,T301,False,auto_failed,NaN,20.872680,NaN,False,12.036289,False
379,T301,False,auto_failed,NaN,13.300578,NaN,False,13.270918,False
380,T301,False,auto_failed,NaN,NaN,NaN,False,16.501673,False
381,T301,False,auto_failed,NaN,NaN,NaN,False,11.460678,False
382,T301,False,auto_failed,NaN,NaN,NaN,False,11.543205,False
383,T301,False,auto_failed,NaN,NaN,NaN,False,11.200755,False
384,T301,False,auto_failed,NaN,NaN,NaN,False,9.433827,False
385,T301,False,auto_failed,NaN,-10.872797,NaN,False,9.784652,False
386,T301,False,auto_failed,NaN,NaN,NaN,False,8.743527,False
387,T301,True,auto_failed,NaN,NaN,NaN,False,NaN,True

In [8]:
query = "SELECT specimens.name FROM specimens"

df2 = get_lims_dataframe(query)
df2.head()

                                            name
0             Ndnf-IRES2-dgCre;Ai14-280612.06.02
1             Chrna2-Cre_OE25;Ai14(IVSCC)-312984
2  Sst-IRES-Cre;Ai140;Pvalb-2A-FlpO;Ai65F-303812
3                    Htr3a-Cre_NO152;Ai14-288785
4             Chrna2-Cre_OE25;Ai14(IVSCC)-312987

# Making a user report

In [9]:
query = "SELECT s.parent_id, s.patched_cell_container, err.recording_date \
FROM specimens s \
JOIN projects proj ON s.project_id = proj.id \
JOIN ephys_roi_results err ON s.ephys_roi_result_id = err.id \
WHERE proj.code <> 'mMPATCH' AND \
s.patched_cell_container IS NOT NULL \
AND err.recording_date > '2017-10-01'"

patched_cell_df = get_lims_dataframe(query)

patched_cell_df.head()

   parent_id patched_cell_container      recording_date
0  639546677    P8S4_171002_351_A01 2017-10-02 17:55:51
1  639546643    P9S4_171002_401_A01 2017-10-02 18:00:47
2  639546677    P8S4_171002_352_A01 2017-10-02 18:17:44
3  639517805    P2S4_171002_051_A01 2017-10-02 18:29:21
4  639546677    P8S4_171002_353_A01 2017-10-02 18:47:06

In [10]:
users = {'P1':'Kristen', 'P2':'Rusty', 'P8':'Lindsay', 'P9':'Lisa', 'PA':'Ram', 'PB':'DiJon'}
lindsay = patched_cell_df[patched_cell_df["patched_cell_container"].str.contains('P8')]
lindsay

      parent_id patched_cell_container          recording_date
0     639546677    P8S4_171002_351_A01 2017-10-02 17:55:51.000
2     639546677    P8S4_171002_352_A01 2017-10-02 18:17:44.000
4     639546677    P8S4_171002_353_A01 2017-10-02 18:47:06.000
7     639621892    P8S4_171002_354_A01 2017-10-02 20:39:22.000
8     639621892    P8S4_171002_355_A01 2017-10-02 21:12:16.000
13    639621770    P8S4_171002_356_A01 2017-10-02 22:10:03.000
18    639621770    P8S4_171002_357_A01 2017-10-02 22:35:02.000
22    639789777    P8S4_171003_351_A01 2017-10-03 16:37:01.000
24    639789777    P8S4_171003_352_A01 2017-10-03 16:59:16.000
31    639796677    P8S4_171003_353_A01 2017-10-03 18:07:38.000
40    639841326    P8S4_171003_354_A01 2017-10-03 20:21:48.000
42    639841326    P8S4_171003_355_A01 2017-10-03 20:49:06.000
48    639848225    P8S4_171003_356_A01 2017-10-03 21:45:15.000
52    639841336    P8S4_171003_357_A01 2017-10-03 22:29:13.000
62    639952945    P8S4_171004_351_A01 2017-10-04 16:49:13.000
65    639952945    P8S4_171004_352_A01 2017-10-04 17:12:17.000
70    639952945    P8S4_171004_353_A01 2017-10-04 17:39:34.000
74    639953793    P8S4_171004_354_A01 2017-10-04 18:16:19.000
78    640073786    P8S4_171004_355_A01 2017-10-04 20:23:46.000
81    640073786    P8S4_171004_356_A01 2017-10-04 20:55:56.000
86    640066770    P8S4_171004_357_A01 2017-10-04 21:37:11.000
90    640066770    P8S4_171004_358_A01 2017-10-04 21:59:22.000
92    640066770    P8S4_171004_359_A01 2017-10-04 22:29:44.000
95    640253676    P8S4_171005_351_A01 2017-10-05 17:13:37.000
98    640253638    P8S4_171005_352_A01 2017-10-05 18:24:36.000
100   640253638    P8S4_171005_353_A01 2017-10-05 18:58:33.000
114   642046680    P8S4_171006_352_A01 2017-10-06 16:56:53.000
118   642059801    P8S4_171006_353_A01 2017-10-06 17:46:46.000
120   642059801    P8S4_171006_354_A01 2017-10-06 18:16:01.000
122   642174608    P8S4_171006_355_A01 2017-10-06 20:09:44.000
...         ...                    ...                     ...
5811  786401236    P8S4_181127_362_A01 2018-11-28 06:18:42.678
5826  787098905    P8S4_181128_351_A01 2018-11-28 23:15:54.706
5830  788077614    P8S4_181129_351_A01 2018-11-29 21:25:23.208
5832  788077614    P8S4_181129_352_A01 2018-11-29 21:52:07.385
5834  788077614    P8S4_181129_353_A01 2018-11-29 22:16:20.790
5838  788077614    P8S4_181129_354_A01 2018-11-29 22:44:23.758
5855  793204996    P8S4_181211_351_A01 2018-12-11 21:39:56.222
5859  793204996    P8S4_181211_352_A01 2018-12-11 22:42:28.192
5861  793204996    P8S4_181211_353_A01 2018-12-11 23:40:02.820
5863  793204996    P8S4_181211_354_A01 2018-12-12 00:20:18.691
5865  793204996    P8S4_181211_355_A01 2018-12-12 00:54:46.644
5868  793204996    P8S4_181211_356_A01 2018-12-12 02:35:43.325
5871  793204996    P8S4_181211_357_A01 2018-12-12 03:24:34.611
5873  793204996    P8S4_181211_358_A01 2018-12-12 03:49:31.525
5876  793202591    P8S4_181211_359_A01 2018-12-12 04:53:08.475
5878  793202591    P8S4_181211_360_A01 2018-12-12 06:00:31.163
5879  793202591    P8S4_181211_361_A01 2018-12-12 06:31:28.655
5915  794858345    P8S4_181213_351_A01 2018-12-13 21:02:08.022
5917  794865643    P8S4_181213_352_A01 2018-12-13 22:19:38.466
5918  794865643    P8S4_181213_353_A01 2018-12-13 22:59:51.550
5920  795312271    P8S4_181214_351_A01 2018-12-14 18:44:39.465
5923  795312271    P8S4_181214_352_A01 2018-12-14 19:10:39.877
5942  796580605    P8S4_181217_351_A01 2018-12-17 18:54:32.687
5945  796580605    P8S4_181217_352_A01 2018-12-17 19:17:48.753
5948  796873215    P8S4_181217_353_A01 2018-12-17 21:15:20.212
5981  797811019    P8S4_181218_351_A01 2018-12-19 01:10:36.542
5984  797811019    P8S4_181218_352_A01 2018-12-19 01:46:30.643
6005  799517635    P8S4_181220_351_A01 2018-12-20 18:39:26.905
6007  799517635    P8S4_181220_352_A01 2018-12-20 19:06:07.461
6010  799515207    P8S4_181220_353_A01 2018-12-20 19:45:12.066

[1490 rows x 3 columns]

In [11]:
def cell_count(P_number, df):
    user = df[df["patched_cell_container"].str.contains(P_number)]
    return user["parent_id"].count()

In [12]:
print cell_count('P8',patched_cell_df)

1490

In [13]:
query = "SELECT s.parent_id, s.patched_cell_container, err.recording_date, ra.failed \
FROM specimens s \
JOIN projects proj ON s.project_id = proj.id \
JOIN ephys_roi_results err ON s.ephys_roi_result_id = err.id \
JOIN rna_amplification_inputs rai on rai.sample_id = s.id \
JOIN rna_amplifications ra on ra.id = rai.rna_amplification_id \
WHERE proj.code <> 'mMPATCH' AND \
s.patched_cell_container IS NOT NULL \
AND ra.failed = 'False' \
AND err.recording_date > '2017-10-01'"

df2 = get_lims_dataframe(query)
df2

#FROM specimens cell \
#LEFT JOIN rna_amplification_inputs rai ON rai.sample_id = cell.id \
#LEFT JOIN rna_amplifications ra ON ra.id = rai.rna_amplification_id \

#from cells cell
#join specimens slice on slice.id = cell.slice_specimen_id 

#left join rna_amplification_inputs rai on rai.sample_id = cell.cell_specimen_id
#left join rna_amplifications ra on ra.id = rai.rna_amplification_id

      parent_id patched_cell_container          recording_date  failed
0     639546677    P8S4_171002_351_A01 2017-10-02 17:55:51.000   False
1     639546643    P9S4_171002_401_A01 2017-10-02 18:00:47.000   False
2     639517805    P2S4_171002_051_A01 2017-10-02 18:29:21.000   False
3     639546677    P8S4_171002_353_A01 2017-10-02 18:47:06.000   False
4     639517805    P2S4_171002_052_A01 2017-10-02 19:03:11.000   False
5     639627116    PAS4_171002_451_A01 2017-10-02 20:35:10.000   False
6     639621892    P8S4_171002_354_A01 2017-10-02 20:39:22.000   False
7     639621892    P8S4_171002_355_A01 2017-10-02 21:12:16.000   False
8     639626809    P9S4_171002_402_A01 2017-10-02 21:31:42.000   False
9     639621802    P2S4_171002_054_A01 2017-10-02 21:55:43.000   False
10    639621770    P8S4_171002_356_A01 2017-10-02 22:10:03.000   False
11    639621802    P2S4_171002_055_A01 2017-10-02 22:31:07.000   False
12    639789736    P9S4_171003_401_A01 2017-10-03 16:21:53.000   False
13    639789777    P8S4_171003_351_A01 2017-10-03 16:37:01.000   False
14    639789736    P9S4_171003_403_A01 2017-10-03 16:54:10.000   False
15    639789971    PAS4_171003_451_A01 2017-10-03 17:08:38.000   False
16    639796606    P9S4_171003_404_A01 2017-10-03 17:36:52.000   False
17    639796606    P9S4_171003_405_A01 2017-10-03 17:51:43.000   False
18    639789682    PBS4_171003_502_A01 2017-10-03 17:52:52.000   False
19    639789706    P2S4_171003_051_A01 2017-10-03 17:55:57.000   False
20    639796677    P8S4_171003_353_A01 2017-10-03 18:07:38.000   False
21    639796606    P9S4_171003_406_A01 2017-10-03 18:11:38.000   False
22    639789682    PBS4_171003_503_A01 2017-10-03 18:16:46.000   False
23    639789706    P2S4_171003_053_A01 2017-10-03 18:53:25.000   False
24    639789706    P2S4_171003_054_A01 2017-10-03 19:30:06.000   False
25    639796622    PBS4_171003_504_A01 2017-10-03 19:36:44.000   False
26    639841297    P9S4_171003_407_A01 2017-10-03 20:15:21.000   False
27    639841297    P9S4_171003_409_A01 2017-10-03 20:46:57.000   False
28    639841326    P8S4_171003_355_A01 2017-10-03 20:49:06.000   False
29    639841318    P2S4_171003_055_A01 2017-10-03 21:05:33.000   False
...         ...                    ...                     ...     ...
4720  797811019    P8S4_181218_352_A01 2018-12-19 01:46:30.643   False
4721  797827548    PES4_181218_656_A01 2018-12-19 01:48:34.357   False
4722  797827548    PES4_181218_657_A01 2018-12-19 02:22:12.998   False
4723  797810450    PBS4_181218_505_A01 2018-12-19 03:27:38.062   False
4724  797810450    PBS4_181218_506_A01 2018-12-19 03:48:53.347   False
4725  797810450    PBS4_181218_507_A01 2018-12-19 04:19:56.697   False
4726  797822956    PES4_181218_658_A01 2018-12-19 04:32:48.009   False
4727  797810450    PBS4_181218_508_A01 2018-12-19 04:52:42.479   False
4728  797809378    PBS4_181219_502_A01 2018-12-19 19:29:27.444   False
4729  797809378    PBS4_181219_503_A01 2018-12-19 19:45:06.456   False
4730  797809378    PBS4_181219_504_A01 2018-12-19 20:21:33.535   False
4731  798958915    PXS4_181219_352_A01 2018-12-19 21:42:07.679   False
4732  797809378    PBS4_181219_505_A01 2018-12-19 22:06:27.766   False
4733  798958915    PXS4_181219_353_A01 2018-12-19 22:03:36.821   False
4734  798958915    PXS4_181219_354_A01 2018-12-19 22:29:32.425   False
4735  799517635    P8S4_181220_351_A01 2018-12-20 18:39:26.905   False
4736  799515920    P1S4_181220_001_A01 2018-12-20 18:54:13.321   False
4737  799517635    P8S4_181220_352_A01 2018-12-20 19:06:07.461   False
4738  799516979    P2S4_181220_051_A01 2018-12-20 19:23:05.519   False
4739  799517867    P1S4_181220_002_A01 2018-12-20 19:44:25.029   False
4740  799515207    P8S4_181220_353_A01 2018-12-20 19:45:12.066   False
4741  799518049    PAS4_181220_451_A01 2018-12-20 20:06:22.301   False
4742  799810757    PXS4_181220_003_A01 2018-12-20 21:29:52.250   False
4743  799810757    PXS4_181220_004_A01 2018-12-20 22:22:44.991   False
4744  799811701    PXS4_181220_354_A01 2018-12-20 22:20:30.884   False
4745  799812147    PXS4_181220_355_A01 2018-12-20 23:10:24.573   False
4746  799810252    PXS4_181220_052_A01 2018-12-20 23:28:11.716   False
4747  799812147    PXS4_181220_356_A01 2018-12-20 23:30:57.751   False
4748  799809556    PXS4_181220_701_A01 2018-12-20 23:43:35.747   False
4749  799810252    PXS4_181220_053_A01 2018-12-20 23:51:51.608   False

[4750 rows x 4 columns]

In [14]:
print cell_count('P8',df2)

1239

In [24]:
def find_slices(specimen):
    """Return the names of slices used from a particular mouse prep.
     
    Parameters
    ----------
    specimen : integer corresponding to mouse specimen name
    
    Returns
    -------
    strings of slice names
    """
   
    for file in os.listdir('//allen/programs/celltypes/workgroups/279/Patch-Seq/all-metadata-files/'):
        if str(specimen) in file:
            print file[-20:-8]

In [25]:
find_slices(447290)

447290.05.02
447290.05.01
447290.04.01
447290.03.01
447290.03.02
447290.04.02

In [26]:
query = "SELECT s.patched_cell_container, err.recording_date \
FROM specimens s \
JOIN projects proj ON s.project_id = proj.id \
JOIN ephys_roi_results err ON s.ephys_roi_result_id = err.id \
WHERE proj.code <> 'mMPATCH' AND \
s.patched_cell_container IS NOT NULL \
AND err.recording_date > '2017-10-01'"

patched_cell_df = get_lims_dataframe(query)
patched_cell_df.head()

  patched_cell_container      recording_date
0    P8S4_171002_351_A01 2017-10-02 17:55:51
1    P9S4_171002_401_A01 2017-10-02 18:00:47
2    P8S4_171002_352_A01 2017-10-02 18:17:44
3    P2S4_171002_051_A01 2017-10-02 18:29:21
4    P8S4_171002_353_A01 2017-10-02 18:47:06

In [27]:
query2 = "SELECT s.patched_cell_container, err.recording_date, ra.failed \
FROM specimens s \
JOIN projects proj ON s.project_id = proj.id \
JOIN ephys_roi_results err ON s.ephys_roi_result_id = err.id \
JOIN rna_amplification_inputs rai on rai.sample_id = s.id \
JOIN rna_amplifications ra on ra.id = rai.rna_amplification_id \
WHERE proj.code <> 'mMPATCH' AND \
s.patched_cell_container IS NOT NULL \
AND ra.failed = 'False' \
AND err.recording_date > '2017-10-01'"

QC_passed_df = get_lims_dataframe(query2)
QC_passed_df.head()

   failed patched_cell_container      recording_date
0   False    P8S4_171002_351_A01 2017-10-02 17:55:51
1   False    P9S4_171002_401_A01 2017-10-02 18:00:47
2   False    P2S4_171002_051_A01 2017-10-02 18:29:21
3   False    P8S4_171002_353_A01 2017-10-02 18:47:06
4   False    P2S4_171002_052_A01 2017-10-02 19:03:11

In [28]:
query3 = "WITH do_63x(cell_id, go) AS (SELECT DISTINCT cell.id, array_to_string(array_agg(DISTINCT tag.name), ' _AND_ ') \
FROM specimens cell JOIN ephys_roi_results err ON err.id = cell.ephys_roi_result_id \
JOIN specimen_tags_specimens sptagsp ON sptagsp.specimen_id = cell.id \
JOIN specimen_tags tag ON tag.id = sptagsp.specimen_tag_id AND tag.id in (602120185,602122082) \
GROUP BY cell.id ORDER BY 1) \
SELECT s.patched_cell_container, err.recording_date, do_63x.go \
FROM specimens s \
JOIN projects proj ON s.project_id = proj.id \
LEFT JOIN do_63x ON do_63x.cell_id = s.id \
JOIN ephys_roi_results err ON s.ephys_roi_result_id = err.id \
WHERE proj.code <> 'mMPATCH' AND \
s.patched_cell_container IS NOT NULL \
AND err.recording_date > '2017-10-01'"

image_df = get_lims_dataframe(query3)
image_df.head()

          go patched_cell_container      recording_date
0     63x go    P8S4_171002_351_A01 2017-10-02 17:55:51
1     63x go    P9S4_171002_401_A01 2017-10-02 18:00:47
2  63x no go    P8S4_171002_352_A01 2017-10-02 18:17:44
3     63x go    P2S4_171002_051_A01 2017-10-02 18:29:21
4  63x no go    P8S4_171002_353_A01 2017-10-02 18:47:06

In [29]:
def cell_count(P_number, df):
    """Return the number of cells in a specified dataframe for a specified user.
     
    Parameters
    ----------
    P_number : A string. Corresponds to the user's P number in the form of P1, P2, P3, etc.
    df: a pandas dataframe
    
    Returns
    -------
    An integer cell number
    """
    user = df[df["patched_cell_container"].str.contains(P_number)]
    return user["patched_cell_container"].count()

In [30]:
print "Total cells patched:", cell_count('P8',patched_cell_df)
print "Cells that passed RNA seq QC:", cell_count('P8',QC_passed_df)
print "QC pass percentage:", float((cell_count('P8',QC_passed_df)))/float((cell_count('P8',patched_cell_df)))

Total cells patched: 1490
Cells that passed RNA seq QC: 1239
QC pass percentage: 0.831543624161

In [31]:
query = "WITH do_63x(cell_id, go) AS (SELECT DISTINCT cell.id, array_to_string(array_agg(DISTINCT tag.name), ' _AND_ ') \
FROM specimens cell JOIN ephys_roi_results err ON err.id = cell.ephys_roi_result_id \
JOIN specimen_tags_specimens sptagsp ON sptagsp.specimen_id = cell.id \
JOIN specimen_tags tag ON tag.id = sptagsp.specimen_tag_id AND tag.id in (602120185,602122082) \
GROUP BY cell.id ORDER BY 1) \
SELECT s.patched_cell_container, err.recording_date, do_63x.go AS go_no_go_63x, ra.failed AS RNA_seq_QC_Failed, s.name \
FROM specimens s \
LEFT JOIN projects proj ON s.project_id = proj.id \
LEFT JOIN do_63x ON do_63x.cell_id = s.id \
LEFT JOIN ephys_roi_results err ON s.ephys_roi_result_id = err.id \
LEFT JOIN rna_amplification_inputs rai on rai.sample_id = s.id \
LEFT JOIN rna_amplifications ra on ra.id = rai.rna_amplification_id \
WHERE proj.code <> 'mMPATCH' AND \
s.patched_cell_container IS NOT NULL \
AND err.recording_date > '2017-10-01'"

#AND (err.recording_date > '2017-10-01' OR err.recording_date IS NULL)
#AND err.recording_date > '2017-10-01'

master_df = get_lims_dataframe(query)
#master_df.sort_values("patched_cell_container", axis = 0, inplace = True)
master_df.head()

,rna_seq_qc_failed,patched_cell_container,go_no_go_63x,name,recording_date
0,False,P8S4_171002_351_A01,63x go,Oxtr-T2A-Cre;Ai14-351467.05.02.01,2017-10-02 17:55:51
1,False,P9S4_171002_401_A01,63x go,Oxtr-T2A-Cre;Ai14-351467.03.01.01,2017-10-02 18:00:47
2,True,P8S4_171002_352_A01,63x no go,Oxtr-T2A-Cre;Ai14-351467.05.02.02,2017-10-02 18:17:44
3,False,P2S4_171002_051_A01,63x go,Nos1-CreERT2;Sst-IRES-FlpO;Ai65-350934.04.01.01,2017-10-02 18:29:21
4,False,P8S4_171002_353_A01,63x no go,Oxtr-T2A-Cre;Ai14-351467.05.02.03,2017-10-02 18:47:06

In [32]:
query = """
WITH do_63x(cell_id, go) AS (SELECT DISTINCT cell.id, array_to_string(array_agg(DISTINCT tag.name), ' _AND_ ') 
FROM specimens cell JOIN ephys_roi_results err ON err.id = cell.ephys_roi_result_id 
JOIN specimen_tags_specimens sptagsp ON sptagsp.specimen_id = cell.id 
JOIN specimen_tags tag ON tag.id = sptagsp.specimen_tag_id AND tag.id in (602120185,602122082) 
GROUP BY cell.id ORDER BY 1), 
imgs20 AS (WITH tag_list AS (SELECT DISTINCT ims.id AS ims_id, imst.name AS tag FROM image_series ims 
JOIN image_series_image_series_tags ims2imst ON ims2imst.image_series_id = ims.id 
JOIN image_series_tags imst ON imst.id = ims2imst.image_series_tag_id 
ORDER BY 1,2) 
SELECT DISTINCT ims.id AS image_series_id, ims.workflow_state AS workflow_state, ims.specimen_id, 
ARRAY_TO_STRING(ARRAY_AGG(DISTINCT tag_list.tag), '_AND_') AS tags FROM image_series ims 
LEFT JOIN tag_list ON tag_list.ims_id = ims.id 
WHERE ims.type = 'FocalPlaneImageSeries' AND is_stack = false 
GROUP BY ims.id, ims.workflow_state, ims.specimen_id),
dendrite_type AS (select sts.specimen_id, array_to_string(array_agg(DISTINCT tag.name), ' ') as dendrite_type
from specimen_tags_specimens sts
join specimen_tags tag on sts.specimen_tag_id = tag.id
where tag.name in('dendrite type - spiny', 'dendrite type - NA', 'dendrite type - sparsely spiny', 'dendrite type - aspiny')
group by sts.specimen_id)
SELECT DISTINCT dendrite_type, s.patched_cell_container, err.recording_date, do_63x.go AS go_no_go_63x, ra.failed AS RNA_seq_QC_Failed, s.name,
'=HYPERLINK("http://lims2/focal_plane_image_series?id=' || imgs20.image_series_id || '")' as link_20x
FROM specimens s 
LEFT JOIN projects proj ON s.project_id = proj.id 
LEFT JOIN do_63x ON do_63x.cell_id = s.id 
JOIN specimens slice ON s.parent_id = slice.id
LEFT JOIN specimen_tags_specimens sts ON sts.specimen_id = s.id
LEFT JOIN ephys_roi_results err ON s.ephys_roi_result_id = err.id 
LEFT JOIN rna_amplification_inputs rai on rai.sample_id = s.id 
LEFT JOIN imgs20 ON slice.id = imgs20.specimen_id 
LEFT JOIN rna_amplifications ra on ra.id = rai.rna_amplification_id 
WHERE proj.code <> 'mMPATCH' AND 
s.patched_cell_container IS NOT NULL 
AND err.recording_date > '2017-10-01'
"""


#AND (err.recording_date > '2017-10-01' OR err.recording_date IS NULL)
#AND err.recording_date > '2017-10-01'

master_df = get_lims_dataframe(query)
#master_df.sort_values("patched_cell_container", axis = 0, inplace = True)
master_df

ProgrammingError: (u'ERROR', u'42703', u'column "dendrite_type" does not exist', u'1389', u'parse_relation.c', u'2892', u'errorMissingColumn')